// Variables and mixins
@import 'variables';
@import 'mixins';

// Custom bootstrap and utilities
@import 'custom-bootstrap';
@import 'utilities-api.scss';

// MDBootstrap
@import 'mdb-ui-kit/src/scss/mdb.free.scss';

// Typography
body {
   font-family: "Roboto", Arial, Verdana, sans-serif;
}

.font-title {
   font-family: $font-title;
}
.font-text {
   font-family: $font-text;
}

.title
{
   @include title;
}
.sub-title
{
   @include sub-title;
}
.text
{
   @include text;
}

// Intro
.intro {
   .hr-intro {
      height: 2px;
      width: 200px;
   }
   .custom-indicator {
      width: 12px;
      height: 12px;
   }
   .custom-border-radius {
      border-bottom-left-radius: 4rem;
   }
}
