// Variables and mixins
@import 'variables';
@import 'mixins';

// Custom bootstrap and utilities
@import 'custom-bootstrap';
@import 'utilities-api.scss';

// MDBootstrap
@import 'mdb-ui-kit/src/scss/mdb.free.scss';

// Body style
body {
   font-family: "Roboto", Arial, Verdana, sans-serif;
   background-color: $primary-main;
}

// Typography
.font-title {
   font-family: $font-title;
}
.font-text {
   font-family: $font-text;
}

.title
{
   @include title;
}
.sub-title
{
   @include sub-title;
}
.text
{
   @include text;
}

.card-title {
   @include custom-text($font-title, 700, 1.35rem, $secondary-dark);
}
.card-sub-title {
   @include custom-text($font-text, 600, 1.15rem, $secondary-main);
}
.card-text {
   @include custom-text($font-text, 400, 1rem, $secondary-main);
}

// Intro
.intro {
   .hr-intro {
      height: 2px;
      width: 200px;
   }
   .avatar-intro {
      width: 200px;
      height: 200px;
   }
   .custom-indicator {
      width: 12px;
      height: 12px;
   }
   .custom-border-radius {
      border-bottom-left-radius: 4rem;
   }
   @media only screen and (max-width: 991px) {
      .custom-border-radius {
         border-radius: 0;
      }
   }
}

// Components
.modal {
   .custom-indicator {
      width: 9px;
      height: 9px;
   }
}

.card-ice {
   background: hsla(0, 0%, 100%, 0.55);
   backdrop-filter: blur(30px);
   z-index: 1;
}

.card-technology {
   width: 240px;
}

// Style
.fa-github {
   color: #333333;

   &:hover {
      color: $primary-dark;
   }
}
.fa-linkedin {
   color: #0082ca;

   &:hover {
      color: $primary-dark;
   }
}

.mask-light-dark {
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.mask-dark {
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

.mask-effect-1977 {
   backdrop-filter: contrast(110%) brightness(110%) saturate(130%) sepia(0%) hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
   mix-blend-mode: screen;
   background: rgba(243, 106, 188, 0.3);
   opacity: 1;
}

.technology-icon {
   color: $secondary-dark;
}
