// =======================================
// TYPOGRAPHY
// =======================================
@mixin title($font-size: 2rem) {
    font-family: $font-title;
    font-weight: 700;
    color: $secondary-main;
    font-size: $font-size;
}

@mixin subtitle($font-size: 1.5rem) {
    font-family: $font-text;
    font-weight: 600;
    color: $secondary-main;
    font-size: $font-size;
}

@mixin text($font-size: 1rem) {
    font-family: $font-text;
    font-weight: 400;
    color: $secondary-main;
    font-size: $font-size;
}

@mixin custom-text($font-family, $font-weight, $font-size, $color) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color;
}

@mixin card-title {
    @include custom-text($font-title, 700, 1.35rem, $secondary-dark);
}

@mixin card-subtitle {
    @include custom-text($font-text, 600, 1rem, $secondary-main);
}

@mixin card-text {
    @include custom-text($font-text, 400, 1rem, $text-dark);
}

// =======================================
// COMPONENTS
// =======================================
// Buttons
@mixin btn-primary-blue {
    background-color: $primary-dark;
    color: white;

    &:visited,
    &:hover,
    &:focus,
    &:active {
        background-color: $primary-dark;
        color: white;
    }
}

@mixin btn-outline-primary-blue {
    background-color: $primary-main;
    color: $secondary-dark;
    border-color: $secondary-dark;

    &:visited {
        background-color: $primary-main;
        color: $secondary-dark;
        border-color: $secondary-dark;
    }

   &:is(:hover, :focus, :active) {
        background-color: $primary-light;
        color: $secondary-dark;
        border-color: $secondary-dark;
    }
}

@mixin btn-social-media($bg-color) {
    background-color: $bg-color;
    color: white;

    &:visited,
    &:hover,
    &:focus,
    &:active {
        background-color: $bg-color;
        color: white;
    }
}

@mixin btn-facebook {
    @include btn-social-media(#3b5998);
}

@mixin btn-instagram {
    @include btn-social-media(#ac2bac);
}

@mixin btn-github {
    @include btn-social-media(#333333);
}

@mixin btn-linkedin {
    @include btn-social-media(#0082ca);
}

// Icons
@mixin icon-social-media($color) {
    color: $color;

    &:hover,
    &:active {
        color: $primary-dark;
    }
}

@mixin icon-github {
    @include icon-social-media(#333333);
}

@mixin icon-linkedin {
    @include icon-social-media(#0082ca);
}

// =======================================
// STYLES & UTILITIES
// =======================================
// Fonts
@mixin responsive-font($font-xxl: inherit, $font-xl: inherit, $font-lg: inherit, $font-md: inherit, $font-sm: inherit) {
    @include media-breakpoint-down(xxl) {
        font-size: $font-xxl;
    }

    @include media-breakpoint-down(xl) {
        font-size: $font-xl;
    }

    @include media-breakpoint-down(lg) {
        font-size: $font-lg;
    }

    @include media-breakpoint-down(md) {
        font-size: $font-md;
    }

    @include media-breakpoint-down(sm) {
        font-size: $font-sm;
    }
}

// Masks
@mixin mask-dark($opacity: 0.15) {
    background-color: rgba(0, 0, 0, $opacity);
}

// Effects
@mixin linear-gradient-overlay(
    $color: #000,
    $start: 0,
    $end: 0.4,
    $direction: to bottom
) {
    background: linear-gradient(
    $direction,
    rgba($color, $start),
    rgba($color, $end)
  );
}

@mixin glass-effect {
    background: hsla(0, 0%, 100%, 0.55);
    backdrop-filter: blur(30px);
}

@mixin effect-1977 {
    backdrop-filter: contrast(110%) brightness(110%) saturate(130%) sepia(0%) hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
    mix-blend-mode: screen;
    background: rgba(243, 106, 188, 0.3);
    opacity: 1;
}
