// Background colors
$primary-main: #FBFBFB;
$primary-light: #E3F2FD;
$primary-dark: #2962FF;

// Text colors
$secondary-main: #332D2D;
$secondary-light: white;
$secondary-dark: #304FFE;
$text-dark: #4F4F4F;

// Fonts
$font-title: "Roboto", Arial, Verdana, sans-serif;
$font-text: "Open Sans", Verdana, Arial, sans-serif;
